
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/in/valentin-coulon-30298018a/"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/Kaelaenis"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <strong>Valentin Coulon</strong> © 2025 All rights reserved.
  </div>
