  <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
    <div class="container-fluid">
      <a class="navbar-brand nav-link">
        <strong>Valentin Coulon</strong>
      </a>
      <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">

        <ul class="navbar-nav list-inline ms-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">A propos de moi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/resume']">Mon parcours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/projects']">Mes projets</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>