#project_picture {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 10px 10px;
}

#project_picture_default {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 10px 10px;
}

.pastel-btn {
    background-color: #FFCBA4; /* light pastel orange */
    color: #A65D4D;
}

.pastel-btn:hover {
    background-color: #FFA07A; /* slightly darker pastel orange */
    color: white;
}